@font-face {
  font-family: 'FontAwesome';
  src: url('fontawesome-webfont.eot');
  src: url('fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('fontawesome-webfont.woff') format('woff'), url('fontawesome-webfont.ttf') format('truetype'), url('fontawesome-webfont.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icons';
  src: url('fonts.ttf');
  font-weight: normal;
  font-style: normal;
}
.index-md-content {
	margin-right: 0 !important;
}
.obj-action {
	margin: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.obj-action .md-select-label{
	text-align: center;
	min-width: 0;
	font-size: 20px;
	height: 42px;
	border-bottom: 0 !important;
}
.obj-action .md-select-label span{
	display: none;
}

.sens-counter {
	display: inline-block;
	text-align: center;
	line-height: 25px;
	width: 25px;
	margin-left: 10px;
	height: 25px;
	border: 1px solid #ddd;
	border-radius: 4px;
}
.td-none {
	line-height: 20px;
	padding: 14px 0;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
	display: block;
	color: inherit;
	text-decoration: none;
}
.tab img {
	width: 100%;
}
.height100 {
	height: 100%;
}
.b-plan {
	position: relative;
}
.sensor-mark {
	width: 12px;
	height: 12px;
	border-radius: 4px;
	background-color: #d11d05;
	position: absolute;
	right: 10px;
	top: 18px;
}
.sensor {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 35px;
	height: 35px;
	margin-left: -20px;
	margin-top: -20px;
	background: #d11d05 50% 50% no-repeat;
	border: 12px solid transparent;
	background-clip: padding-box;
	-webkit-box-shadow: 0px 0px 0px 1px #363636;
	-moz-box-shadow: 0px 0px 0px 1px #363636;
	box-shadow: 0px 0px 0px 1px #363636;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-transition:border-color .174s;
	-ms-transition:border-color .174s;
	-o-transition:border-color .174s;
	transition:border-color .174s;
	-moz-transition:border-color .174s;
	cursor: pointer;
}
.sensor span {
	position: absolute;
	top: 23px;
	left: -8px;
	text-decoration: none;
	color: #363636;
	text-transform: uppercase;
	display: inline-block;
	border: 1px solid rgba(0,0,0,.15);
	background: #fff;
	padding: 3px 6px;
	border-radius: 3px;
	font-size: 14px;
}
.sensor span:after {
	content: '';
	display: block;
	position: absolute;
	left: 5px;
	top: -8px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #fff;
}
.sensor span:before {
	content: '';
	display: block;
	position: absolute;
	left: 3px;
	top: -10px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid rgba(0,0,0,.15);
}
.sensor:hover {
	border-color: #eee;
}
.button-add-sensor {
	position: absolute;
	z-index: 10;
	top: 50px;
	padding: 2px 5px 2px 10px;
}
.button-add-sensor .md-select-label {
	border-bottom: none !important;
	font-size: 13px;
}
.button-custom {
	top: 65px;
	right: 15px;
	position: absolute;
	font-family: 'icons', '';
	font-size: 0;
	border: none;	
}
.button-custom .md-select-label {
	font-size: 0;
	border-bottom: none !important;
}
.button-custom:after {
	text-align: center;
	display: block;
	font-size: 20px;
	width: 41px;
	line-height: 1.7;
	height: 41px;
	top: 0;
	left: 0;
	position: absolute;
	content: '';
}
.button-remove {
	font-family: 'FontAwesome';
	top: 115px;
}
.button-remove:after {
	font-weight: bold;
	line-height: 2;
	content: '';
}
.button-rename {
	font-family: 'icons';
	top: 165px;
}
.button-rename:after {
	font-weight: bold;
	line-height: 1.8;
	content: '';
}
.button-list {
	font-family: 'icons';
	top: 215px;
}
.button-list_print {
	top: 115px;
}
.button-list:after {
	font-weight: bold;
	line-height: 1.8;
	content: '\e01B';
}
.button-map {
	font-family: 'icons';
	top: 215px;
}
.button-map:after {
	font-weight: bold;
	line-height: 1.8;
	content: '\e04E';
}
.button-map_print {
	top: 165px;
} 
.button-print {
	font-family: 'icons';
	top: 65px;
}
.button-print:after {
	font-weight: bold;
	line-height: 1.8;
	content: '\e010';
}
.button-table {
	font-family: 'icons';
	top: 265px;
}
.button-table:after {
	font-weight: bold;
	line-height: 1.8;
	content: '\e027';
}
.help-screen {
	display: none;
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(64, 255, 103, .32);
}
.lazy-cloud {
	position: absolute;	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background:#fff;
	z-index: 10;
}
.lazy-circle {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -25px;
	margin-right: -25px;
}

.custom-input {
	border: none;
	height: 32px;
	width: 50px;
	border-bottom: 1px solid rgb(0,188,212);
	outline: none;
	margin: 6px;
}
.home-icon {
	float: right;
	margin-right: 0 !important;
}
.home-icon:before {
	content: '\e05C';
	font-family: 'icons';
	font-size: 24px;
	line-height: 44px;
}
.close-icon {
	position: absolute;
	right: 2px;
	top: 7px;
	float: right;
}
.close-icon:before {
	content: '\e00e';
	font-family: 'icons';
	font-size: 24px;
	line-height: 44px;
}
.linkblock {
	color: inherit;
	text-decoration: none;
	display: block;
	padding: 10px 20px 10px 0;
}
