<!DOCTYPE html>
<html ng-app="Monitor">

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <title>Мониторинг</title>
    <link rel="stylesheet" href="plugins/angular-material/angular-material.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="plugins/angular/angular.min.js"></script>
    <script src="plugins/angular-route/angular-route.min.js"></script>
    <script src="plugins/angular-aria/angular-aria.min.js"></script>
    <script src="plugins/angular-animate/angular-animate.min.js"></script>
    <script src="plugins/angular-material/angular-material.min.js"></script>
    <script src="plugins/mobile-angular-ui/dist/js/mobile-angular-ui.min.js"></script>
    <script src="plugins/mobile-angular-ui/dist/js/mobile-angular-ui.core.min.js"></script>
    <script src="plugins/mobile-angular-ui/dist/js/mobile-angular-ui.components.min.js"></script>
    <script src="plugins/sqllite/SQLitePlugin.js"></script>
    <script src="plugins/persistencejs/lib/persistence.js"></script>
    <script src="plugins/persistencejs/lib/persistence.store.sql.js"></script>
    <script src="plugins/persistencejs/lib/persistence.store.websql.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>

<body ng-controller="MainController">
    <div>
        <md-content>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" aria-label="Settings">
                        <md-icon md-svg-icon="img/menu.svg" style="color:white"></md-icon>
                    </md-button>
                    <h2> <span>Геотехнический мониторинг</span> </h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-list>
                <md-subheader class="md-no-sticky"><b>Объекты</b></md-subheader>
                <md-list-item ng-repeat="list in lists" ng-click="navigate(list.page)">
                    <p>{{ list.name }}</p> <i class="sens-counter">{{list.count}}</i>
                    <md-button class="md-icon-button" aria-label="More">
                        <md-icon md-svg-icon="img/more_vert.svg"></md-icon>
                        <md-select placeholder="" ng-model="someVal" class="obj-action">
                            <md-option ng-click="remove(list.name)" value="1">Удалить</md-option>
                            <md-option value="2">Переименовать</md-option>
                        </md-select>
                    </md-button>
                </md-list-item>
            </md-list>
            <div layout="row" layout-padding>
                <div flex>
                    <md-input-container>
                        <label>Название объекта</label>
                        <input ng-model="name" ng-required="true">
                    </md-input-container>
                    <md-button ng-click="addObj(name)">Добавить объект</md-button>
                </div>
                <div flex>
                </div>
            </div>
        </md-content>
    </div>
    <script type="text/javascript" src="cordova.js"></script>
</body>

</html>
