<md-dialog aria-label="Добавить показания">
    <form name="nameFormObj">
        <md-content>
            <form name="nameFormObj">
                <div layout="row">
                    <md-input-container ng-repeat="param in params">
                        <label>{{param}}</label>
                        <input type="number" ng-model="graph.val[param]" ng-required="true">
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container>
                        <label>Дата</label>
                        <input type="date" ng-model="graph.date" ng-required="true"> 
                    </md-input-container>
                    <md-input-container>
                        <label>Время</label>
                        <input type="time" ng-model="graph.date">
                    </md-input-container>
                </div>
        </md-content>
        </form>
        <div class="md-actions">
            <md-button ng-click="cancel()">Отмена</md-button>
            <md-button class="md-raised" ng-disabled="nameFormObj.$invalid" ng-click="answer(graph.date)">Добавить</md-button>
        </div>
    </form>
</md-dialog>
