<div class="md-toolbar-tools">
    <h2 class="md-flex">Руководство программой</h2>
</div>
<md-content layout-padding style="height: 600px;padding: 0 24px;">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore reprehenderit ab adipisci provident, nisi mollitia accusantium voluptatum placeat, magni officiis optio ullam qui voluptas amet neque facilis itaque dolor assumenda.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus veritatis nihil sunt asperiores eligendi quibusdam, repellendus dolorem dolorum debitis, consequatur laudantium mollitia rem impedit suscipit molestias amet praesentium delectus recusandae.</p>
</md-content>
