<md-subheader class="md-no-sticky"><b>Руководство программой</b></md-subheader>
<md-content layout-padding style="height: 600px;padding: 0 24px;">
<h3>Главная страница</h3>
<img src="img/instruction/main.png">
<!-- main -->
<p>Главная страница приложения представляет собой интерфейс для управления объектами. На этой странице можно редактировать удалять и добавлять новые объекты.</p>
<p>Чтобы добавить новый объект, нужно нажать на кнопку «добавить объект» [1].  В поле для ввода пишем имя нашего объекта. Нажимаем кнопку «добавить».</p>
<p>Чтобы переименовать или удалить новый или существующий объект необходимо нажать на подменю объекта [2] и выбрать соответствующий пункт.</p>
<p>Слева от подменю находится элементы в которых описаны датчики  данного объекта[3].  Цифра отвечает за количество, а цвет за категорию,  чтобы узнать категорию, достаточно  нажать на элемент.</p>
<p>Также в приложении реализовано главное меню [4],  перейти в которое можно по нажатию левой верхней кнопки. Верхняя правая кнопка позволяет вернуться на главную страницу из любого места программы.</p>
<p>Это меню есть на всех страницах приложения с помощью него можно попасть на страницу с руководством либо написать об ошибке.</p>
<hr>
<!-- map -->
<h3>Страница карт объекта</h3>
<img src="img/instruction/map.png">
<p>Чтобы перейти на страницу карт объекта, нужно нажать на соответствующую строку. </p>
<p>Справа находятся элементы управления текущей картой:</p>
	<ul>
		<li>Добавить план[1]</li>
		<li>Удалить план[2]</li>
		<li>Редактировать план (поменять изображение или имя)[3]</li>
		<li>Список датчиков на объекте[4]</li>
	</ul>
<p>Чтобы добавить новый план необходимо нажать на кнопку [1].   Открывшемся окне необходимо ввести имя и выбрать графический файл для карты. Когда все поля заполнены, нужно нажать на кнопку добавить и карта будет создана в дополнительной вкладке. Чтобы удалить новый план необходимо  нажать на кнопку[2] и подтвердить во всплывающем окне намерение удалить карту. Редактирование датчиков[3] включает в себя переименование и смену изображения.  Во всплывающем окне будет предложено сделать любые действия,  ну так же можно  сделать лишь одно действие поставить второе поле пустым.  Программа сама определит  необходимое действие.</p>
<p>Сверху находятся вкладки с картами [5].  С помощью них осуществляется переход по картам.  Также переход по картам можно осуществлять простым пролистыванием вправо.</p>
<p>Левая верхняя кнопка под вкладками отвечает за добавление датчиков и категорий[6]. После нажатия на кнопку «добавить датчик», появится всплывающее меню со списком категорий.  Можно выбрать уже существующую либо добавить новую.  Каждая категория имеет свою логику работы, свои формулы для обработки данных и различные переменные. Чтобы добавить новую категорию в раскрывающемся окне необходимо нажать на кнопку «добавить категорию».  В следующем окне необходимо выбрать цвет, логику работы и имя категории.  </p>
<p>Добавление датчика осуществляется выбором категории.  При этом включается режим добавления датчиков[8],  в котором можно перемещаться по картам внутри объекта. Чтобы начать взаимодейтвие с датчиком, необходимо выйти из этого режима. Для выхода из режима «добавления датчиков» нажмите на кнопку в правом верхнем углу.</p>
<img src="img/instruction/map-adding.png">
<p>План с датчиками располагается в главной части экрана[7]. Размер плана всегда соответствует размерам экрана устройства за вычетом отступов.  Все датчики на карте окрашиваются в цвет своей категории,  а также каждый датчик имеет свое имя, которое можно увидеть в прямо под ним.  Создание имя датчика происходит при создании нового датчика и производится по следующей логике:  берутся последние 6 символов категории, к которой принадлежат датчик,  ставится тире и после него номер датчика следующий  после датчика с названием такого же типа.</p>
<hr>
<!-- sensor	 -->
<h3>Страница датчика</h3>
<img src="img/instruction/sensor.png">
<p>Чтобы перейти на страницу датчика просто нажмите на него. Чтобы добавить показания нужно нажать на кнопку[1].  Во всплывающем окне введите показания датчика а так же дату показания.  После того как все данные будут введены необходимо нажать на кнопку "добавить". Переходя по вкладкам сверху[2] можно увидеть графики  для вычисленных  значений.  Складки значение подними формируется в зависимости от категории датчика.  Для каждой категории датчика есть свои формы обработки показаний и свои переменные.</p>
<p>Тензометры и датчики давления на входе принимают частоту (F) и температуру(T), а геодезические призмы принимают 3 координаты(E, N, H).</p>
<p>Логика работы для тензометра СИТИС:</p>
<p><pre>με = F<sup>2</sup>  ∙ 0.001 ∙ К ∙ 4.479
∆με = με + (T-T<sub>0</sub>)∙( α - ß)
σ = με ∙ 210 ∙ 0.001
∆σ = ∆με ∙ 210 ∙ 0.001</pre></p>

<p>Логика работы для тензометра C-Sensor:</p>
<p><pre>με = με = F<sup>2</sup>  ・ 0.001 ・ 4.062
dμε = dμε = (F-F<sub>0</sub>)<sup>2</sup>  ・4.062/1000-(ТСк-TCд)・(T-T<sub>0</sub>)
g = με ・ 210 ・ 0.001
dg = dμε ・ 210 ・ 0.001</pre></p>


<p>Логика работы для cтрунного датчика давления Спрут 1.06 (СИТИС):</p>
<p><pre>Pt = a・(T<sub>1</sub>-T<sub>0</sub>)
Pb = B - B0
∆P = P0-Pt+Pb+(A・F <sup>2</sup>・10-6+B・F <sup>2</sup>/1000)-(A・F<sub>0</sub><sup>2</sup>・10<sup>-6</sup>+B・F<sub>0</sub><sup>2</sup>/1000)+α・(T-T<sub>0</sub>)-(B-B0)・0.133322  </pre></p>

<p>Логика работы для cтрунного датчика давления CS-05 (C-Sensor):</p>
<p><pre>R1 = F<sup>2</sup>/1000
P = A・R1<sup>3</sup>+B・R1<sup>2</sup>+C・R1+D+k・(T<sub>1</sub>-T<sub>0</sub>)-(S1-S0)
∆P = P<sub>0</sub> – P</pre></p>

<p>Логика работы для геодезической призмы:</p>
<p><pre>∆e = E<sub>0</sub>  - E
∆n = N<sub>0</sub>  - N
∆h = H<sub>0</sub>  – H</pre></p>

<p>Также можно добавить новую переменную. для этого нужно нажать на кнопку "+V"[3]  и  ввести имя переменной.  При добавлении следующих показаний  во всплывающем окне появится эта переменная. </p>
<p>В данном интерфейсе реализована возможность удаления[4] и редактирования[5] датчиков.  При редактировании вы увидите поля «имя», «категория» и  атрибуты датчика. При изменении атрибутов датчика  пересчет графика будет производиться только для  новых показаний. Также здесь присутствует возможность экспортировать данные в таблицу, которую можно сохранить на свое мобильное устройство.Чтобы вернуться на карты объекта нажмите кнопку [6]. Чтобы создать таблицу из данных датчика нужно нажать на кнопку с иконкой «экспорт»[8].</p><img src="img/instruction/table.png"><p> На странице с таблицей нажмите на кнопку с иконкой печати[9], чтобы экспортировать таблицу.  Далее нужно будет указать имя файла, в котором будет сохранена таблица и нажать кнопку "Добавить". В файле экспорта также будет имя объекта и карты, на котором находится датчик, а также имя датчика и его параметры[10].</p>

<h3>Страница графика с несколькими показаниями</h3>
<img src="img/instruction/list.png">
<p>Для того чтобы увидеть сразу несколько показаний на одном графике необходимо нажать на кнопку "список"[рис.2 [4]] на странице карт объекта.  Перед вами откроется список всех датчиков на объекте, который разбит по категориям[4]. По умолчанию при нажатии на элемент списка исходит переход на страницу с графиком датчика. Чтобы посмотреть несколько графиков на одной странице, нужно нажать на кнопку сверху справа "построение нескольких графиков"[1]. </p>
<p>После нажатия на эту кнопку справа от каждого датчика появится поле[2] при нажатии на которое можно выбрать датчик который вы хотите посмотреть.  После того, как все датчики были выбраны нужно пролистнуть вниз до конца страницы и нажать  «построить»[3].</p>
<img src="img/instruction/multi.png">
<p>Нужная нам страница будет выглядеть практически так же, как и страница с  графиком датчика за некоторыми исключениями.  Во-первых, оси графика будут черными и появятся горизонтальные разделители, точки на графике не будут подписаны, вместо  можно увидеть разлинованную вертикальную ось графика[1].  Во-вторых внизу можно увидеть подписи для каждой линии графика[2].  Линии одного цвета является графиком показания для одного датчика.  Сами цвета определяются в случайном порядке из предустановленной палитры цветов.</p>
<p>Переключаясь по вкладкам[3] можно смотреть графики для различных параметров.  Слева внизу расположены подписи для каждого датчика.  Графики строятся в векторной графике, что позволяет масштабировать ее. Также на этой странице реализован экспорт  для сохранения графика в наше мобильное устройство.  Для этого необходимо нажать на кнопку печати[4] и после ввести имя файла.</p>

<h3>Экспорт</h3>
<img src="img/instruction/export.png">
<p>В приложении разработана система экспорта.  Для тензометров и датчиков давления экспорт происходит по следующей логике. На вход принимается текстовый файл который имеет формат:</p>
<code>
-------------------- <br>
2015/05/24 12:39:01;25,5;954 <br>
2015/05/24 12:39:02;25,5;954 <br>
2015/05/24 12:39:04;25,5;954 <br>
2015/05/24 12:39:05;25,5;954 <br>
-------------------- <br>
2015/05/24 12:39:53;25,7;923 <br>
-------------------- <br>
2015/05/24 12:39:59;25,8;923 <br>
-------------------- <br>
2015/05/24 12:40:03;25,9;923 <br>
2015/05/24 12:40:04;25,8;923 <br>
…</code>
<p>За данные для одного датчика принимаются показания между разделительными чертами.  При этом рассматривается только первая строка.  Из этой строки берется дата, температура, частота (гггг/мм/дд чч:мм:сс;T;F). Первая строка применяется на датчик, со страницы которого мы произвели экспорт.  Затем составляется массив из датчиков, порядковые номера которых больше, чем текущий датчик  по возрастанию на единицу. Если датчиков меньше, чем показаний, то лишние показания игнорируются.</p>
<img src="img/instruction/export-geo.png">
<p>Для геодезических призм экспорт происходит по другой логике. На вход принимается текстовый файл который имеет формат:</p>
<code><pre>
…
Job
---
Date/Time:		: 28.11.14, 07:03:25
Job			: INDUSTRII       
Creator 		:                 
Instrument Type		: TM30 1"         
Serial No.		: 363335          
…

Points
------
Point ID                  E                N                H                  
3_100                      31.066          -11.330            2.378                  

…
</pre>	
</code>

<p>За данные для одного датчика принимаются выделенные значения. Для выборки координат точек из файла, необходимо найти вот такую строку. </p>
<code><pre>
Point ID                  E                N                H                 
3_100                      31.066          -11.330            2.378                 </pre> </code>
<p>Все мониторинговые точки, которые надо отобразить на графике и в таблицах, обозначаются по одному принципу: <pre>№точки_№дома,</pre> на котором она закреплена. Например, <pre>12_100</pre> означает, что мы рассматриваем призму №12 на доме под номером 100. E-это поперечное смещение, N-продольное смещение, H-смещение по высоте. Таким образом, для построения графиков будет три закладки: E, N, H. Обработанные данные принимаются для датчиков,  которые соответствуют объектам с названием формате "объект номер дома".  Например в данном случае имя объекта должно быть <pre>INDUSTRII 100,</pre>а имя датчика - <pre>ИМЯ-3,</pre>.</p>

</md-content>
