<div class="sample" layout="column">
    <md-select ng-model="someVal" class="md-fab md-mini md-button md-default-theme button-custom">
        <md-option ng-click="showModalAdd($event)" value="1">Добавить план</md-option>
        <md-option ng-click="addSens()" value="2">Добавить датчик</md-option>
    </md-select>
    <md-button ng-click="deletePlan($event, mapId)" class="md-fab md-mini md-button md-default-theme button-custom button-remove" aria-label="button"></md-button>
    <md-button ng-click="editPlan($event, mapId)"  class="md-fab md-mini md-button md-default-theme button-custom button-rename" aria-label="button"></md-button>
    <md-button ng-href="#/list/{{objId}}" class="md-fab md-mini md-button md-default-theme button-custom button-list" aria-label="button"></md-button>
    <!-- LAZY LOAD -->
    <div class="lazy-cloud" ng-show="lazyShow">
        <md-progress-circular md-mode="indeterminate" class="lazy-circle"></md-progress-circular>
    </div>
</div>
