<div class="sample" layout="column" style="height:100%">
    <form>
        <md-subheader>Список датчиков</md-subheader>
        <md-list>
            <md-list-item style="background:rgba(0, 188, 212, .5);color:#fff;height:36px"><p>Тензометры</p></md-list-item>
            <md-list-item ng-repeat="sens in sensors">
                <p>
                    <a ng-show="!checkboxMode" href="#/sensor/{{sens.id}}" class="linkblock">{{sens.name}}</a>
                    <span ng-show="checkboxMode">{{sens.name}}</span>
                </p>
                <md-checkbox ng-show="checkboxMode" ng-click="getData(sens, selected)"></md-checkbox>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
        <md-button ng-click="check()">Построение нескольких графиков</md-button>
        <md-button ng-show="checkboxMode" ng-click="build()" style="float:right">Построить</md-button>
    </form>
    <!-- LAZY LOAD -->
    <div class="lazy-cloud" ng-show="lazyShow">
        <md-progress-circular md-mode="indeterminate" class="lazy-circle"></md-progress-circular>
    </div>
</div>
