<md-list>
    <md-subheader class="md-no-sticky"><b>{{sensor[0].obj}} / {{sensor[0].map}} / {{sensor[0].name}}</b></md-subheader>
    <md-button ng-click="addGraph($event)" class="md-fab md-mini md-button md-default-theme button-custom button-add" aria-label="button"></md-button>
    <md-button class="md-raised md-primary" ng-click="updatePath('mu')">mu</md-button>
    <md-button  class="md-raised md-primary"ng-click="updatePath('eps')">eps</md-button>
    <div layout="row" layout-padding>
        <svg id="graph" width="100%" height="500px">
        </svg>
    </div>
</md-list>
